<header class="d-flex flex-wrap align-items-center justify-content-between flex-row py-1 px-1 head-wrapp">
    <a href="#" target="_blank"><img width="75px" class="me-lg-4" src="@img/Logo_helsi.png" alt="main logo"></a>
    <!-- <form id="sorting-form" class="main-form hidden col-12 col-md-auto order-1 order-lg-1 flex-grow-1 py-2 mx-lg-4">
        <div class="d-flex align-items-center">
            <input id="input-title" type="text" class="form-control form-control-sm search flex-fill" name ='title' placeholder="Пошук за заголовком">
            <select name="status" id="status" class="form-select form-select-sm flex-fill" aria-label="Status">
                <option selected value="all">Статус</option>
                <option value="open">Відчинено</option>
                <option value="done">Готово</option>
            </select>
            <select id="sorting-urgency"name='urgency' class="form-select form-select-sm flex-fill urgency-select" aria-label="Urgency">
                <option selected value="all">Терміновість</option>
                <option value="high">Високий</option>
                <option value="middle">Середній</option>
                <option value="low">Низький</option>
            </select>
        </div>
    </form> -->
    <!-- <div class="header"></div> -->
    <div class="col-md-auto  text-end order-lg-2 py-2">
        <button id="visit-btn" class="hidden">Створити візит</button>
        <button id="entry-btn" class="btn fw-semibold">Увійти</button>
        <button id="logout-btn" class="order-2 btn fw-semibold hidden">Вихід</button>
    </div>
</header>
