*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-body{
    background-image: url('../../img/header-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
