.modal-area {
  &__modalEdit-input {
    margin: 5px 0;
    padding: 10px;
    width: 80%;
  }

  &__visit-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__editvisitbtn {
    width: 50%;
    margin: 10px auto;
    background: #D6E9FF;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 30px;
    border: 2px solid #000;
  }
}

textarea {
  resize: none;
}

.display {
  display: none;
}
